<!doctype html>
<html lang="en">
<head>

</head>

<body>

  <h1> Welcome to your Dashboard {{username}} </h1>

  <h3> Chat </h3>
  <div>
    <app-chat></app-chat>
  </div>

  <div id="box">
  </div>

  <h3> Add New User </h3>
  <form (submit)="addUser($event)">

    <!-- -->
    <div class="form-group">
        <label for="newuser">Username</label>
        <input [(ngModel)]="newuser" type="text" placeholder="Username" id="newuser" class="form-control" name="newuser">
      </div>

      <div class="form-group">
        <label for="emailu">Email</label>
        <input [(ngModel)]="emailu" type="emailu" placeholder="Email" id="emailu" name="emailu" class='form-control'>
      </div>


      <button type="submit" class="btn btn-success">Add</button>
  </form>
  <div id="b">
  </div>

  <h3> Add New Admin </h3>
  <form (submit)="addAdmin($event)">

    <!-- -->
    <div class="form-group">
        <label for="admin">Username</label>
        <input [(ngModel)]="admin" type="text" placeholder="Username" id="admin" class="form-control" name="admin">
      </div>

      <div class="form-group">
        <label for="emaila">Email</label>
        <input [(ngModel)]="emaila" type="emaila" placeholder="Email" id="emaila" name="emaila" class='form-control'>
      </div>


      <button type="submit" class="btn btn-success">Add</button>
  </form>
  <div id="b">
  </div>

  <h3> Add New Super Admin </h3>
  <form (submit)="addSadmin($event)">

    <!-- -->
    <div class="form-group">
        <label for="sadmin">Username</label>
        <input [(ngModel)]="sadmin" type="text" placeholder="Username" id="sadmin" class="form-control" name="sadmin">
      </div>

      <div class="form-group">
        <label for="emails">Email</label>
        <input [(ngModel)]="emails" type="emails" placeholder="Email" id="emails" name="emails" class='form-control'>
      </div>


      <button type="submit" class="btn btn-success">Add</button>
  </form>
  <div id="b">
  </div>

  <h3> Remove User</h3>
  <form (submit)="removeUser($event)">

    <!-- -->
    <div class="form-group">
        <label for="type">User Type</label>
        <input [(ngModel)]="type" type="text" placeholder="User Type" id="type" class="form-control" name="type">
      </div>

      <div class="form-group">
        <label for="uname">Username</label>
        <input [(ngModel)]="uname" type="uname" placeholder="Username" id="uname" name="uname" class='form-control'>
      </div>


      <button type="submit" class="btn btn-success">Remove</button>
  </form>
  <div id="box">
  </div>

  <button (click)="logout()" class="btn btn-success">Logout</button>

</body>

</html>
