
<body>
<h1> Welcome to the Chat App</h1>

<form (submit)="logingUser($event)">

  <div class="form-group">
      <label for="username">Please enter your Username</label>
      <input [(ngModel)]="username" type="text" placeholder="Username" id="username" class="form-control" name="username">
      <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
    </div>

    <button type="submit" class="btn btn-success">Login</button>
</form>

</body>
