
body{
  background-color: #e6f4f7;
  margin: 2em;
  padding-top: 3em;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3em;
  font-weight: 600;
}

button{
  background-color: #397684;
  border-color: #5a8f9c;
  float: right;
  color: white;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
  background-color: #215f6d;
  color: white;
}

button:active{
  background-color: #0f4957;
  color: white;
}

button:visited{
  color: white;
}
